.grid-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-container {
  display: flex;
  align-items: center;
}

.filter-form {
  margin-right: 10px;
}

.selected-info {
  margin-left: 10px;
  margin-right: 10px;
  text-align: right;
}
